@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    height: 100%;
    font-family: sans-serif;
}

tr{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 800px;

	
}

th{
	flex: 1;
	text-align: center;
}

td, .actions{
	margin-top:20px;
	margin-bottom:10px;

	text-align: center;
	flex: 1;
}


.actions > a, form{
	margin-left: 15px;
	text-decoration-line : none;
}

tbody > tr > td > form >input, a{
	border: none;
	background-color: white;
	padding: 0;
	color: rgb(71, 163, 255);
	font-family: sans-serif;
	font-size: 20px;
	
}

tbody > tr > td > form >input:hover, a:hover{
    cursor: pointer;
    color: MediumVioletRed;
}

table{
	margin: 30px;
	width:500px;
}

p{
	margin: 20px;
}

div > form > input{
	padding: 5px 10px;
	font-size: 15px;
	cursor: pointer;
}

.bSummit:hover{
	background-color: rgb(71, 163, 255);
	color:white;
}

nav{
	font-size: 15px;
	margin-bottom: 30px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    
}

nav > h1 > a{
	margin-right: 35px;
}

nav > form > button, input{
	padding: 5px 10px;
	font-size: 15px;
}

nav > form > button:hover{
	background-color: rgb(71, 163, 255);
	color:white;
	border-radius: 3px;
	cursor: pointer;
}

.div{
	display: flex;
    flex-direction: row;
}

.div > form >input, a{
	border: none;
	background-color: white;
	padding: 0;
	color: rgb(71, 163, 255);
	font-family: sans-serif;
	font-size: 20px;
	
}

.div > form >input:hover{
    cursor: pointer;
    color: MediumVioletRed;
}

.div > a{
	text-decoration-line : none;
}

.topten{
	font-family: sans-serif;
	font-size: 20px;
}